<div class="row">
  <div class="col-md-12">
    <div class="main-card mb-4 card">

      <div class="card-body">
        <div class="row">
          <div class="col-auto mr-auto"><h5 class="card-title">Filtros</h5></div>
          <div class="col-auto">
            <button class="btn-icon btn-icon-only btn btn-link" (click)="ChangeIcon(troca)">
              <i [class]="icone"> </i>
            </button>
          </div>          
        </div>
        <hr>
      </div>

      <div class="card-body"></div>
      <div class="card-body"></div>
      <div class="card-body"></div>
    </div>
  </div>
</div>

<div class="main-card mb-3 card">
  <div class="card-header">
    <div class="card-header-title font-size-lg text-capitalize font-weight-normal">Empresas</div>
  </div>
  <div class="table-hover">
    <perfect-scrollbar style="overflow: auto; position: relative;">
      <table class="align-middle text-truncate mb-0 table table-borderless table-hover">
        <thead>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Nome</th>
            <th class="text-center">Usuario</th>
            <th class="text-center">Telefone</th>
            <th class="text-center">Atuação</th>
            <th class="text-center">Usr. cadastro</th>
            <th class="text-center">Data cadastro</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="text-center text-muted" style="width: 80px;">1</td>
            <td class="text-center" style="width: 80px;">Rafael santana de lima</td>
            <td class="text-center">RafaelS.representante</td>
            <td class="text-center">(62) 99856-2265</td>
            <td class="text-center">GO</td>
            <td class="text-center"><span class="pr-2 opacity-6"><i
                  class="fa fa-business-time"></i></span>rodrigoF.supervisor</td>
            <td class="text-center" style="width: 200px;">06/02/2021</td>
            <td class="text-center">
              <div role="" class="btn-group-sm btn-group">
                <!--Editar-->
                <button class="btn-shadow btn btn-info" (click)="open()">Editar</button>
                <!--Excluir-->
                <button class="btn-shadow btn btn-danger" (click)="excluir()">Inativar</button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </perfect-scrollbar>
  </div>
</div>

