<div [class]="'app-sidebar sidebar-shadow ' + (config$ | async).sidebarTheme" (mouseover)="sidebarHover()"
  (mouseout)="sidebarHover()">
  <div class="app-header__logo">
    <div></div>
    <div class="header__pane ml-auto">
      <button type="button" class="hamburger close-sidebar-btn hamburger--elastic"
        [ngClass]="{'is-active' : globals.toggleSidebar}" (click)="toggleSidebar()">
        <span class="hamburger-box">
          <span class="hamburger-inner"></span>
        </span>
      </button>
    </div>
  </div>

  <div class="app-sidebar-content">
    <div class="app-sidebar-scroll">
      <perfect-scrollbar [autoPropagation]="true">
        <div class="v-sidebar-menu vsm-default">
          <div class="vsm-list">
            <ngb-accordion [destroyOnHide]="false" [closeOthers]="true" [activeIds]="extraParameter">

              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-header">Navegação</div>
                </ng-template>
              </ngb-panel>

              <ngb-panel>
                <ng-template ngbPanelHeader>
                  <div class="vsm-item">
                    <a routerLinkActive="" routerLink="" class="vsm-link">
                      <i class="vsm-icon pe-7s-home"></i>
                      <span class="vsm-title">Inicio</span>                      
                    </a>
                  </div>
                </ng-template>
              </ngb-panel>


              <ngb-panel id="pagesMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-file"></i>
                    <span class="vsm-title">Cadastros</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>

                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/tabela/usuario" class="vsm-link"><span
                            class="vsm-title">Usuario</span></a>
                      </div>
                    </div>    

                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/tabela/empresa" class="vsm-link"><span
                            class="vsm-title">Empresa</span></a>
                      </div>
                    </div>
                

                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/tabela/fornecedor" class="vsm-link"><span
                            class="vsm-title">Fornecedor</span></a>
                      </div>
                    </div>

                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/tabela/catalogo" class="vsm-link"><span
                            class="vsm-title">Catalogo</span></a>
                      </div>
                    </div>

                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/tabela/cliente" class="vsm-link"><span
                            class="vsm-title">Cliente</span></a>
                      </div>
                    </div>

                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/tabela/produto" class="vsm-link"><span
                            class="vsm-title">Produto</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>
              </ngb-panel>
              
              <ngb-panel id="elementsMenu">
                <ng-template ngbPanelHeader>
                  <button ngbPanelToggle class="vsm-link">
                    <i class="vsm-icon pe-7s-calculator"></i>
                    <span class="vsm-title">Vendas</span>
                    <i class="vsm-arrow"></i>
                  </button>
                </ng-template>


                <ng-template ngbPanelContent>
                  <div class="vsm-dropdown">
                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/tabela/pedido" class="vsm-link"><span
                            class="vsm-title">Consultar pedidos</span></a>
                      </div>
                    </div>

                    <div class="vsm-list">
                      <div class="vsm-item">
                        <a routerLinkActive="active-item" routerLink="/cadastro/pedido" class="vsm-link"><span
                            class="vsm-title">Emitir novo pedido</span></a>
                      </div>
                    </div>
                  </div>
                </ng-template>

              </ngb-panel>

            </ngb-accordion>
          </div>
        </div>
      </perfect-scrollbar>
    </div>
  </div>
</div>